<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My App{% endblock %}</title>
</head>
<body>
    <nav>
        <a href="{% url 'top_page' %}">トップ</a>
        {% if user.is_authenticated %}
          <a href="{% url 'survey_page' %}">アンケート</a>
          <a href="{% url 'result_page' %}">結果</a>
          <a href="{% url 'logout' %}">ログアウト</a>
        {% else %}
          <a href="{% url 'login' %}">ログイン</a>
          <a href="{% url 'signup' %}">新規登録</a>
        {% endif %}
    </nav>
    <hr>
    {% block content %}{% endblock %}
</body>
</html>

